<section>
    <ul>
      <li class="service-item" data-aos="fade-right" data-aos-delay="250">abrigos</li>
      <li class="service-item" data-aos="fade-right" data-aos-delay="500">acolchados</li>
      <li class="service-item" data-aos="fade-right" data-aos-delay="750">frazadas</li>
      <li class="service-item" data-aos="fade-right" data-aos-delay="1000">prendas delicadas</li>
      <li class="service-item" data-aos="fade-right" data-aos-delay="1250">servicios de tintorería.</li>
    </ul>
  </section>
