<div class="footer">
    <div class="row">   
    <div class="container-footer px-5">
        <p class="m-0 text-center text-white small">
            Copyright &copy; Lava Lynch 2000 (todos los derechos reservados)
            <span class="d-none d-md-inline"> | </span> 
            <a href="https://facebook.com/LavaLynch" class="text-white" target="_blank">facebook.com/LavaLynch</a>
            <span class="d-none d-md-inline"> | </span> 
            <a href="https://instagram.com/lava.lynch" class="text-white" target="_blank">instagram.com/lava.lynch</a>
            <span class="d-none d-md-inline"> | </span> 
            tel: +54 9 11 7368-9122
        </p>
      </div>
  </div>
  </div>
