<div class="footer">
    <div class="container">
        <div class="row justify-content-center no-gutters">
            <!-- Copyright -->
            <div class="col-md-3 col-sm-12">
                <p class="m-0 text-center text-white small"> Indalecio Gómez 4190 (villa lynch)</p>
            </div>

            <!-- Redes sociales -->
            <div class="col-md-4 col-sm-6">
                <p class="m-0 text-center text-white small">
                    <a href="https://facebook.com/LavaLynch" class="text-white" target="_blank">facebook.com/LavaLynch</a>
                    <span> | </span>
                    <a href="https://instagram.com/lava.lynch" class="text-white" target="_blank">instagram.com/lava.lynch</a>
                </p>
            </div>

            <!-- Teléfono -->
            <div class="col-md-3 col-sm-12">
                <p class="m-0 text-center text-white small">
                    <span class="text-white">tel: +54 9 11 7368-9122</span>
                </p>
            </div>
        </div>
    </div>
</div>
