<footer class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-12">
                <p class="m-0 text-center text-white small">
                    Dirección: Indalecio Gómez 4190, Villa Lynch
                </p>
            </div>

            <div class="col-md-4 col-sm-6">
                <p class="m-0 text-center text-white small">
                    <a href="https://facebook.com/LavaLynch" class="text-white" target="_blank" rel="noopener noreferrer">
                        facebook.com/LavaLynch
                    </a>
                    <span aria-hidden="true"> | </span>
                    <a href="https://instagram.com/lava.lynch" class="text-white" target="_blank" rel="noopener noreferrer">
                        instagram.com/lava.lynch
                    </a>
                </p>
                <p class="sr-only">
                    Enlaces a redes sociales de Lava Lynch
                </p>
            </div>
        </div>
    </div>
</footer>

