.footer {
    bottom: 0; /* Fija el elemento a la parte inferior de la página */
    width: 100%; /* Asegura que el elemento ocupe el ancho completo de la página */
    height: auto;
    padding: 30px 0;
    background-color: rgba(80, 0, 300, 0.5); /* Ajusta el color y la opacidad según sea necesario */
    margin-top: 17px; /* Puedes ajustar el margen superior si es necesario */
}
