.whatsapp-icon-green {
    position: fixed;
    bottom: 130px;
    right: 15px;
    z-index: 999;
    border-radius: 100%;
    overflow: hidden;
  }

  @keyframes vibrate {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.vibrating {
    animation: vibrate 0.5s ease-in-out;
}
