/*
.auto-con{
    width: 800px; 
    height: 300px; 
    overflow: hidden;  
}

.image {
    width: 800px; 
    height: 800px;
    object-fit: cover; 
    object-position: 0 -200px;
    overflow-x: hidden;
    z-index: -999;
}


@media (max-width: 576px) {

  

    .image {
        height: 400px;
        width: 400px;
        object-position: -75px -50px; 
        overflow-x: hidden;
    }
}


*/


