<section id="formulario-contacto" class="container my-5 mx-auto overlay-black">
    <div class="row">
      <article class="formulario-contacto col-12">
        <app-text 
          [h2]="'Servicio para Empresas'" 
          [p]="'En LavaLynch, ofrecemos un servicio personalizado de lavandería que se adapta a tus necesidades específicas. Entendemos la importancia de mantener la ropa limpia y fresca, especialmente en entornos como geriátricos, hospitales y hogares de niños, donde la higiene es fundamental. Por eso, garantizamos resultados impecables y satisfacción del cliente en cada lavado.\n\n
          Además, brindamos descuentos especiales para empresas del sector de la salud y hogares de niños, como muestra de nuestro compromiso con su labor. Creemos que al proporcionar un servicio de calidad a precios accesibles, podemos contribuir al bienestar de la comunidad y facilitar la labor de aquellos que cuidan de otros.'">
        </app-text>
      </article>
    </div>
  </section>
