.navbar {
    top: 0;
    left: 0;
    background-color:rgba(137, 43, 226, 0.5);
    position: absolute;

  
}

a, i, span {
    color: white;
    opacity: 0.85;
}

span:hover,
a:hover,
i:hover {
    color: white;
    opacity: 1; 
    transform: translate(0px, 1px); 
}

.navbar-toggler {
 filter: invert();
}


.nav-link {
    scroll-behavior: smooth;
}


@media (min-width: 1080px) {
    .nav-link {
        margin-left: -140px;
        margin-right: 140px;
    }
}

@media (max-width: 576px) {
    span {
        font-size: 13px;
    }
}

