<nav class="navbar navbar-expand-sm fixed-top">
  <button type="button" class="navbar-toggler ms-3" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="social-icons d-flex me-3">
    <a href="https://instagram.com/lava.lynch" target="_blank" class="text-decoration-none"><i class="fab fa-instagram px-2"></i></a>
    <a href="https://facebook.com/LavaLynch" target="_blank" class="text-decoration-none"><i class="fab fa-facebook"></i></a>
  </div>

  <div class="text-right me-4 mt-3">
    <address>Indalecio Gómez 4190</address>
  </div>

  <div id="navbarNavAltMarkup" class="collapse navbar-collapse justify-content-center me-5">
    <div class="navbar-nav text-left ms-3">
      <a href="#envio-retiro-domicilio" class="nav-item nav-link">Envíos</a>
      <a href="#reseñas" class="nav-item nav-link">Conócenos</a>
      <a href="#formulario-contacto" class="nav-item nav-link">Contáctanos</a>
    </div>
  </div>
</nav>



  
