<nav class="navbar navbar-expand-sm fixed-top">
    <button class="navbar-toggler ms-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center ms-5" id="navbarNavAltMarkup">
        <div class="navbar-nav text-left">
            <a class="nav-item nav-link" href="#">Conocenos</a>
            <a class="nav-item nav-link" href="#">Envíos</a>
            <a class="nav-item nav-link" href="#">Contactanos</a>
        </div>
    </div>

    <div class="social-icons d-flex me-4">
        <a href="https://instagram.com/lava.lynch" target="_blank"><i class="fab fa-instagram px-2"></i></a>
        <a href="https://facebook.com/LavaLynch" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
</nav>
