<header class="navbar navbar-expand-sm fixed-top">
    <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <nav class="navbar-nav ms-auto">  <a class="nav-link" href="#envio-retiro-domicilio">Envíos</a>
      <a class="nav-link" href="#reseñas">Conócenos</a>
      <a class="nav-link" href="#formulario-contacto">Contáctanos</a>
    </nav>
  
    <div class="d-flex align-items-center ms-auto">  <ul class="list-unstyled social-icons mb-0 me-3">  <li class="social-icons__item">
          <a href="https://instagram.com/lava.lynch" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="social-icons__item">
          <a href="https://facebook.com/LavaLynch" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
      </ul>
      <span class="address ms-2">Indalecio Gómez 4190 (Villa Lynch)</span>
    </div>
  </header>
  
