.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgba(137, 43, 226, 0.5);
}

a, i {
    color: rgba(255, 255, 255, 0.9);
}

a:hover,
i:hover {
    color: white;
    font-weight: 600;
}


@media (max-width: 576px) {
    .navbar-toggler {
        filter: invert();
    }
}

