<section class="container text-center justify-content-center">
    <div class="row my-5">
      <div class="col-12">
        <h2>Con Lava Lynch tené siempre listas tus prendas favoritas...</h2>
        <p>Para encontrarnos es fácil, Indalecio Gomez 4190 (Villa Lynch) (copia y pega en maps)</p>
        <p data-aos="fade-right" data-aos-delay="250"><br> 📱 Nos escribís o llamas</p>
        <p data-aos="fade-right" data-aos-delay="500">👉🏻 Te pasamos un presupuesto</p>
        <p data-aos="fade-right" data-aos-delay="750">🚘 Coordinamos el retiro y la entrega</p>
        <p data-aos="fade-right" data-aos-delay="1000">😊 Te relajas y esperas a qué llegue todo</p>
      </div>
    </div>
  </section>
