<div class="container-fluid formulario">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center mt-3">Solicita tu descuento ahora</h4>
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa tu nombre">
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electrónico:</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu correo electrónico">
                        </div>
                        <div class="form-group">
                            <label for="mensaje">Mensaje:</label>
                            <textarea class="form-control" id="mensaje" name="mensaje" rows="3" placeholder="Escribe tu mensaje aquí"></textarea>
                        </div>
                        <button type="button" class="btn enviar btn-primary" (click)="enviarFormulario()">Enviar</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
