.rounded.shadow-sm {
    transition: transform 0.3s ease;
    transform: scale(0.9); 
   
}

 
.rounded.shadow-sm:hover {
  transform: scale(1); 

}


.inst {
  border-radius: 20px;  
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4); 
  
  width: 80vw;
  height: auto;
  overflow: hidden;
}

.container {
  overflow: hidden;
}

@media (min-width: 768px) {
 .inst {
    height: 400px;
    width: 400px;
  }
}




@media (max-width: 576px) {
  .rounded.shadow-sm {
    transition: transform 0.3s ease;
    transform: scale(0.55); 
    margin: -40px; 
}

.rounded.shadow-sm:hover {
  transform: scale(0.6); 
}

ul li {
  box-sizing: border-box;
}

}


