<app-navbar></app-navbar>
<app-portada></app-portada>
<app-logo></app-logo>

<div class="container my-5 px-5 mx-auto">
  <div class="row">
      <div class="col-md-6 col-sm-12">
          <app-text [h2]="'Visita nuestra lavandería'"
              [p]="'Te traemos la solución definitiva para el cuidado de tu ropa. Nos encargamos de todo, para que puedas enfocarte en lo que realmente importa de tu día a día. Lavamos tu ropa de forma rápida y eficiente, sin comprometer la calidad de tus prendas.\n\n
              Somos una empresa familiar con más de 20 años de experiencia. Nos hemos consolidado como expertos en todo tipo de tejidos, lo que nos permite ofrecer resultados impecables a precios verdaderamente accesibles.\n\n
              Te brindamos un servicio es express y personalizado, ya que comprendemos la importancia de tu tiempo y nos esforzamos para ayudarte a simplificar tu vida, ocupándonos de cada detalle.\n\n
              Nuestro propósito es que puedas disfrutar de prendas impecables mientras te concentras en lo verdaderamente importante.\n\n
              Brindamos asesoramiento, lavamos tus abrigos, acolchados, frazadas, prendas delicadas y ofrecemos servicios de tintorería.'">
          </app-text>
      </div>
      <div class="col-md-6 col-sm-12">
          <app-map></app-map>
      </div>
  </div>
  <div class="row mt-4"> 
    <div class="col-md-6 col-sm-12">
          <app-text [h2]="'Envío y retiro a Domicilio'"
              [p]="'Con nuestro servicio de envío y retiro a domicilio, llevar tu ropa a lavar nunca había sido tan fácil y conveniente. Nos destacamos como un servicio verdaderamente excepcional, marcando la diferencia con un enfoque único y una atención incomparable.\n\n
              Nos encargamos de recoger tus prendas en la puerta de tu hogar y devolvértelas limpias y frescas en el horario que mejor te convenga. Olvídate de perder tiempo en desplazamientos y largas esperas, nosotros nos encargamos de todo el proceso logístico para que solo te preocupes por disfrutar de tus prendas impecables. Además, nuestro compromiso con la puntualidad y la calidad garantiza que cada entrega sea una experiencia sin contratiempos.'">
          </app-text>
      </div>
      <div class="col-md-6 col-sm-12">
          <app-auto></app-auto>
      </div>
  </div>
</div>

<div class="container my-5 mx-auto">
  <div class="row">
      <div class="col-12">
<app-text 
  [h2]="'Algunas reseñas'" 
  [p]="'En Lavalynch, la opinión de nuestros clientes es el corazón de nuestro negocio. Valoramos profundamente cada palabra que ustedes comparten con nosotros, ya que sabemos que sus comentarios y experiencias son fundamentales para nuestro crecimiento.\n\n
  Creemos firmemente que al escuchar atentamente a nuestros clientes, podemos comprender mejor sus necesidades, expectativas y preocupaciones. Esto nos permite adaptar nuestros servicios y productos para satisfacer de manera más efectiva sus demandas y garantizar su total satisfacción.\n\n
  Nuestro compromiso con la excelencia se refleja en nuestra disposición a recibir retroalimentación honesta y constructiva. Nos esforzamos por establecer relaciones sólidas y de confianza, demostrando que sus opiniones no solo son escuchadas, sino también valoradas y consideradas en nuestras decisiones.\n\n
  En Lavalynch, estamos dedicados a proporcionar una experiencia excepcional a nuestros clientes, y su voz es el motor que impulsa nuestro progreso y éxito. Estamos aquí para servirles y mejorar continuamente, porque en última instancia, su satisfacción es nuestra mayor recompensa.'">
</app-text>
</div>
</div>
</div>



<div class="container my-5 px-5 mx-auto">
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
     
        <img src="../assets/res01.png"  class="rounded shadow-sm">
     
    </div>

    <div class="col-md-6 col-sm-12">
      <img src="../assets/res02.png" class="rounded shadow-sm">
    </div>
  </div>

  <div class="row mt-4 justify-content-center">
    <div class="col-md-6 col-sm-12">
      <img src="../assets/res03.png" class="rounded shadow-sm">
    </div>

    <div class="col-md-6 col-sm-12">
      <img src="../assets/res04.png" class="rounded shadow-sm">
    </div>
  </div>
</div>




<div class="container my-5 mx-auto overlay-black">
  <div class="row">
      <div class="col-12">
<app-text 
  [h2]="'Servicio para Empresas'" 
  [p]="'En LavaLynch, ofrecemos un servicio personalizado de lavandería que se adapta a tus necesidades específicas. Entendemos la importancia de mantener la ropa limpia y fresca, especialmente en entornos como geriátricos, hospitales y hogares de niños, donde la higiene es fundamental. Por eso, garantizamos resultados impecables y satisfacción del cliente en cada lavado.\n\n
  Además, brindamos descuentos especiales para empresas del sector de la salud y hogares de niños, como muestra de nuestro compromiso con su labor. Creemos que al proporcionar un servicio de calidad a precios accesibles, podemos contribuir al bienestar de la comunidad y facilitar la labor de aquellos que cuidan de otros.'">
</app-text>
</div>
</div>
</div>

<app-carousel></app-carousel>
<app-form></app-form>
<app-wsp-icon></app-wsp-icon>
<app-footer></app-footer>



<router-outlet></router-outlet>
