
<header>
<app-navbar></app-navbar>
<app-front-page></app-front-page>
<app-logo></app-logo>
</header>

<main class="container mt-5">
  <section id="envio-retiro-domicilio" class="row">
    <article class="envio-retiro col-md-8 col-sm-12 my-2">
      <app-text [h2]="'Visita nuestra lavandería'"
                [p]="'Te traemos la solución definitiva para el cuidado de tu ropa. Nos encargamos de todo, para que puedas enfocarte en lo que realmente importa de tu día a día. Lavamos tu ropa de forma rápida y eficiente, sin comprometer la calidad de tus prendas.\n\n
                Somos una empresa familiar con más de 20 años de experiencia. Nos hemos consolidado como expertos en todo tipo de tejidos, lo que nos permite ofrecer resultados impecables a precios verdaderamente accesibles.\n\n
                Te brindamos un servicio express y personalizado, ya que comprendemos la importancia de tu tiempo y nos esforzamos para ayudarte a simplificar tu vida, ocupándonos de cada detalle.\n\n
                Nuestro propósito es que puedas disfrutar de prendas impecables mientras te concentras en lo verdaderamente importante.\n\n
                👉🏻 Lunes a Viernes de 9 a 14 hs y 16 a 18 hs / Sábados (9 a 13 hs)'">
      </app-text>
    </article>
    <aside class="map col-md-4 col-sm-12 mt-3 d-flex justify-content-center">
      <app-map></app-map>
    </aside>
  </section>

  <section class="row mt-5"> 
    <article class="envio-retiro-domicilio col-12">
      <app-text [h2]="'Envío y retiro a Domicilio'"
                [p]="'Con nuestro servicio de envío y retiro a domicilio, llevar tu ropa a lavar nunca había sido tan fácil y conveniente. Nos destacamos como un servicio verdaderamente excepcional, marcando la diferencia con un enfoque único y una atención incomparable.\n\n
                Nos encargamos de recoger tus prendas en la puerta de tu hogar y devolvértelas limpias y frescas en el horario que mejor te convenga. Olvídate de perder tiempo en desplazamientos y largas esperas, nosotros nos encargamos de todo el proceso logístico para que solo te preocupes por disfrutar de tus prendas impecables. Además, nuestro compromiso con la puntualidad y la calidad garantiza que cada entrega sea una experiencia sin contratiempos.\n\n🚘 Retiro y entrega a domicilio GRATIS.'">
      </app-text>
    </article>
  </section>

<app-motion-words-top></app-motion-words-top>

<app-pictures-top></app-pictures-top>


  <section class="container text-center justify-content-center">
    <div class="row mt-5" id="reseñas">
      <article class="reseñas col-12 my-2">
        <app-text 
          [h2]="'Algunas reseñas'" 
          [p]="'En Lavalynch, la opinión de nuestros clientes es el corazón de nuestro negocio. Valoramos profundamente cada palabra que ustedes comparten con nosotros, ya que sabemos que sus comentarios y experiencias son fundamentales para nuestro crecimiento.\n\n
          Creemos firmemente que al escuchar atentamente a nuestros clientes, podemos comprender mejor sus necesidades, expectativas y preocupaciones. Esto nos permite adaptar nuestros servicios y productos para satisfacer de manera más efectiva sus demandas y garantizar su total satisfacción.\n\n
          Nuestro compromiso con la excelencia se refleja en nuestra disposición a recibir retroalimentación honesta y constructiva. Nos esforzamos por establecer relaciones sólidas y de confianza, demostrando que sus opiniones no solo son escuchadas, sino también valoradas y consideradas en nuestras decisiones.\n\n
          En Lavalynch, estamos dedicados a proporcionar una experiencia excepcional a nuestros clientes, y su voz es el motor que impulsa nuestro progreso y éxito. Estamos aquí para servirles y mejorar continuamente, porque en última instancia, su satisfacción es nuestra mayor recompensa.'">
        </app-text>
      </article>
    </div>
  </section>

  <app-review></app-review>
  <app-pictures-bottom></app-pictures-bottom>
   <app-motion-words-bottom></app-motion-words-bottom>
</main>

<footer>
  <app-banner-form></app-banner-form>
<app-carousel></app-carousel>
<app-form></app-form>
<app-wsp-icon></app-wsp-icon>
<app-footer></app-footer>
</footer>




