.rounded.shadow-sm {
    transition: transform 0.3s ease;
   
}

  .rounded.shadow-sm:hover {
  transform: scale(1.1); 

}

@media (max-width: 576px) {
 
  .rounded.shadow-sm {
    transform: scale(0.75); 
  }

  .rounded.shadow-sm:hover {
    transform: scale(0.82); 
  
  }
}


