@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
    font-family: 'Raleway';
    src: url('../src/assets/Raleway/static/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    background-color: rgba(137, 43, 226, 0.03);
}

::selection {
    background-color: rgba(137, 43, 226, 0.75);
    color: white;
}

* {
    color: blueviolet;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

.overlay-black h2,
.overlay-black p {
    color: white; 
}

.overlay-black {
    padding: 20px;
    background-color: rgba(137, 43, 226, 0.83);
    border-radius: 20px;
    z-index: 99;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 30%);
}

@media (max-width: 1650px) {
    .overlay-black {
        transform: translate(-50%, 5%);
    }       
}

@media (max-width: 1440px) {
    .overlay-black {
        transform: translate(-50%, -10%);
    }       
}

@media (min-width: 768px) and (max-width: 992px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }

    .overlay-black {
        transform: translate(-50%, -12%);
    }  
}

@media (max-width: 576px) {
    .overlay-black {
        position: relative;
        width: 90%;
        transform: none;
        margin: 0 auto;
        left: 0;
        background-color: rgba(137, 43, 226, 0.5);
    }

    ul li {
        box-sizing: border-box;
    }
}

.rounded.shadow-sm {
    transition: transform 0.3s ease;
    transform: scale(0.9);
}

.rounded.shadow-sm:hover {
    transform: scale(1);
}

.inst {
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    width: 80vw;
    height: auto;
    overflow: hidden;
}

.container {
    overflow: hidden;
}

@media (min-width: 768px) {
    .inst {
        height: 400px;
        width: 400px;
    }
}
